@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    background-color: black;
}

.link {
    transition-duration: 250ms;
}
.link:hover {
    color: #1677ff;
}

/*span.ant-input-suffix {*/
/*    filter: invert(100%)*/
/*}*/

/*.auth__row .ant-card-head-title {*/
/*    width: 30rem;*/
/*    color:  black;*/
/*}*/